/* line 1, ../sass/blog.sass */
#BlogContent { width: 538px; float: right; margin: 0; text-align: left; }

/* line 8, ../sass/blog.sass */
.BlogError { text-align: center; }

/* line 12, ../sass/blog.sass */
* html #Sidebar p.tagcloud { padding-bottom: 10px; }

/* line 16, ../sass/blog.sass */
.BlogError p { color: white; display: inline; background-color: #ff7777; padding: 7px; font-weight: bold; }

/* line 25, ../sass/blog.sass */
#BlogEntry_Form_BlogEntryForm #ContentLabel { display: inline; }
/* line 28, ../sass/blog.sass */
#BlogEntry_Form_BlogEntryForm .CompositeField { position: relative; width: 100%; }
/* line 32, ../sass/blog.sass */
#BlogEntry_Form_BlogEntryForm #BBCodeHint { cursor: pointer; font-size: 0.8em; position: absolute; left: 240px; top: 3px; }
/* line 39, ../sass/blog.sass */
#BlogEntry_Form_BlogEntryForm #BBTagsHolder { display: block; position: absolute; top: 30px; left: 325px; }

/* line 46, ../sass/blog.sass */
.blogSummary { border-bottom: 1px solid #dddddd; padding-bottom: 8px; }

/* line 51, ../sass/blog.sass */
#Content label { margin-top: 0px; }

/* line 56, ../sass/blog.sass */
#Layout p.authorDate, #Layout p.tags { font-size: 0.9em; color: #777777; margin: -15px 0 12px 0; }

/* line 62, ../sass/blog.sass */
p.blogVitals { text-align: right; margin: 0; color: #999999; }

/* line 69, ../sass/blog.sass */
a.comments { background: url(../images/comments.gif) no-repeat left center; padding: 3px 0 3px 25px; }
/* line 73, ../sass/blog.sass */
a.readmore { background: url(../images/readmore.gif) no-repeat left center; padding: 3px 0 3px 25px; }
/* line 77, ../sass/blog.sass */
a#editpost { background: url(../images/edit.gif) no-repeat left center; padding: 3px 0 3px 25px; }
/* line 81, ../sass/blog.sass */
a#unpublishpost { background: url(../images/delete.gif) no-repeat left center; padding: 3px 0 3px 25px; }
