/* line 1, ../sass/layout.sass */
* { margin: 0; padding: 0; }

/* line 6, ../sass/layout.sass */
body { color: #333333; font-size: 62.5%; margin-bottom: 40px; font-family: Verdana, Lucida, sans-serif; }

/* line 13, ../sass/layout.sass */
html { background: #626467 url(../images/bg.gif) repeat; }

/* line 17, ../sass/layout.sass */
table { border-collapse: collapse; border-spacing: 0; }

/* line 22, ../sass/layout.sass */
caption, th, td { text-align: left; font-weight: normal; }

/* line 27, ../sass/layout.sass */
.clear { clear: both; }

/* line 31, ../sass/layout.sass */
#BgContainer { width: 800px; margin: 0 auto; }

/* line 36, ../sass/layout.sass */
#Container { width: 800px; padding-bottom: 15px; background: white url(../images/containerbg.gif) repeat-y; }

/* line 42, ../sass/layout.sass */
#Layout { width: 760px; clear: both; overflow: hidden; margin: 15px auto; }

/* line 49, ../sass/layout.sass */
#Content { width: 538px; float: right; margin: 0; text-align: left; }

/* line 56, ../sass/layout.sass */
#Header { width: 768px; margin: 0 auto; overflow: hidden; background: #58ade1 url(../images/header.gif) repeat-x left center; }
/* line 62, ../sass/layout.sass */
#Header h1 { color: white; font-size: 3.2em; font-family: Tahoma, Verdana, sans-serif; font-weight: 300; padding: 20px 0 0 30px; }
/* line 69, ../sass/layout.sass */
#Header p { font-size: 1.4em; color: white; clear: left; margin: 0 0 0 100px; }

/* line 76, ../sass/layout.sass */
#Navigation { width: 768px; margin: 0 auto; padding-top: 10px; overflow: hidden; background: #4ea3d7 url(../images/headerRounded.gif) no-repeat center bottom; }
/* line 83, ../sass/layout.sass */
#Navigation ul { float: right; margin-right: 10px; }
/* line 87, ../sass/layout.sass */
#Navigation ul li { list-style: none; margin: 0 2px; float: left; line-height: 2.8em; display: block; }
/* line 94, ../sass/layout.sass */
#Navigation ul li a { float: left; text-decoration: none; display: block; height: 2.3em; font-size: 1.2em; padding: 0 0 0 10px; color: white; }
/* line 103, ../sass/layout.sass */
#Navigation ul li a span { text-align: center; float: left; padding-right: 10px; height: 2.3em; }
/* line 109, ../sass/layout.sass */
#Navigation ul li a:hover { background: #93c7e7 url(../images/hoverTabLeft.gif) no-repeat left top; color: white; cursor: pointer; }
/* line 114, ../sass/layout.sass */
#Navigation ul li a:hover span { background: #93c7e7 url(../images/hoverTabRight.gif) no-repeat right top; cursor: pointer; }
/* line 118, ../sass/layout.sass */
#Navigation ul li a.current { background: white url(../images/activeTabLeft.png) no-repeat left top; color: #444444; }
/* line 122, ../sass/layout.sass */
#Navigation ul li a.section { background: white url(../images/activeTabLeft.png) no-repeat left top; color: #444444; }
/* line 126, ../sass/layout.sass */
#Navigation ul li a.section:hover { background: white url(../images/activeTabLeft.png) no-repeat left top; color: #444444; }
/* line 131, ../sass/layout.sass */
#Navigation ul li a.current:hover { background: white url(../images/activeTabLeft.png) no-repeat left top; color: #444444; }
/* line 135, ../sass/layout.sass */
#Navigation ul li a.current span { background: white url(../images/activeTabRight.png) no-repeat right top; color: #444444; }
/* line 140, ../sass/layout.sass */
#Navigation ul li a.section span, #Navigation ul li a.section:hover span { background: white url(../images/activeTabRight.png) no-repeat right top; color: #444444; }
/* line 144, ../sass/layout.sass */
#Navigation ul li a.current:hover span { background: white url(../images/activeTabRight.png) no-repeat right top; color: #444444; }

/* line 149, ../sass/layout.sass */
#Breadcrumbs { color: #b7c0c5; text-align: left; font-size: 0.9em; margin: 0px 5px 10px 0; }
/* line 155, ../sass/layout.sass */
#Breadcrumbs p { margin: 0; }

/* line 159, ../sass/layout.sass */
#Sidebar { width: 200px; float: left; margin: 10px 0 0 0; padding: 0; }
/* line 165, ../sass/layout.sass */
#Sidebar .sidebarBox { margin: 0 0 5px 0; padding-bottom: 2px; background: #efefef url(../images/sidebarHeader.gif) no-repeat left top; }
/* line 170, ../sass/layout.sass */
#Sidebar ul { margin: 2px 0 5px 3px; }
/* line 173, ../sass/layout.sass */
#Sidebar li { margin: 8px 2px; list-style: none; }
/* line 177, ../sass/layout.sass */
#Sidebar h3 { clear: both; text-transform: lowercase; color: white; font-weight: 700; font-size: 1.4em; margin: 0 0 10px 0; line-height: 1.8; padding: 1px 0 0 10px; background: transparent url(../images/sidebarHeaderSub.gif) repeat-x center left; }
/* line 188, ../sass/layout.sass */
#Sidebar .sidebarBottom { height: 15px; display: block; width: 200px; margin: -5px 0 0 0; background: #efefef url(../images/sidebarBottomBg.gif) no-repeat center bottom; }
/* line 195, ../sass/layout.sass */
#Sidebar a em { font-style: normal; }
/* line 198, ../sass/layout.sass */
#Sidebar p { font-size: 11px; clear: both; margin: 10px 10px 0 10px; }

/* line 204, ../sass/layout.sass */
ul#Menu2 li { font-size: 0.9em; margin: 1px 0 5px 4px; list-style: none; }
/* line 209, ../sass/layout.sass */
ul#Menu2 li a { display: block; width: 196px; font-size: 1.2em; height: 1.8em; line-height: 1.8em; color: #898989; }
/* line 217, ../sass/layout.sass */
ul#Menu2 li em { padding-left: 8px; display: block; }
/* line 221, ../sass/layout.sass */
ul#Menu2 li li em { padding-left: 0; }
/* line 225, ../sass/layout.sass */
ul#Menu2 li a:hover { background: #dcdcdc url(../images/sidebarSideArrow.gif) no-repeat right center; color: #666666; cursor: pointer; text-decoration: none; }
/* line 231, ../sass/layout.sass */
ul#Menu2 li a.current { background: #dcdcdc url(../images/sidebarSideArrow.gif) no-repeat right center; color: #666666; cursor: pointer; text-decoration: none; font-weight: 700; }
/* line 238, ../sass/layout.sass */
ul#Menu2 li a.current:hover { background: #dcdcdc url(../images/sidebarSideArrow.gif) no-repeat right center; color: #666666; cursor: pointer; text-decoration: none; }
/* line 244, ../sass/layout.sass */
ul#Menu2 li a.section { background: #dcdcdc; font-weight: 700; width: 193px; }
/* line 249, ../sass/layout.sass */
ul#Menu2 li a.section:hover { background: #dcdcdc; font-weight: 700; width: 193px; }
/* line 254, ../sass/layout.sass */
ul#Menu2 li a.levela:hover span, ul#Menu2 li a.current span { background: transparent url(../images/sidebarTopLeftHover.gif) no-repeat left top; display: block; width: 100%; height: 100%; }
/* line 261, ../sass/layout.sass */
ul#Menu2 li a.section span, ul#Menu2 li a.section:hover span { background: transparent url(../images/sidebarTopLeftHover.gif) no-repeat left top; display: block; width: 100%; height: 100%; }
/* line 267, ../sass/layout.sass */
ul#Menu2 li a.current:hover span { background: transparent url(../images/sidebarTopLeftHover.gif) no-repeat left top; display: block; width: 100%; height: 100%; }
/* line 273, ../sass/layout.sass */
ul#Menu2 li a.levela:hover em, ul#Menu2 li a.current em { background: transparent url(../images/sidebarBottomLeftHover.gif) no-repeat left bottom; display: block; width: 100%; height: 100%; }
/* line 280, ../sass/layout.sass */
ul#Menu2 li a.section em, ul#Menu2 li a.section:hover em { background: transparent url(../images/sidebarBottomLeftHover.gif) no-repeat left bottom; display: block; width: 100%; height: 100%; }
/* line 286, ../sass/layout.sass */
ul#Menu2 li a.current:hover em { background: transparent url(../images/sidebarBottomLeftHover.gif) no-repeat left bottom; display: block; width: 100%; height: 100%; }
/* line 292, ../sass/layout.sass */
ul#Menu2 li ul { height: 100%; position: relative; margin: -4px 0 0 0; width: 193px; padding: 4px 0 10px 0; background: #dcdcdc url(../images/sidebarSectionBottom.png) no-repeat bottom left; }
/* line 300, ../sass/layout.sass */
ul#Menu2 li ul li { padding: 0; font-size: 0.8em; margin: 2px 0 0 0; }
/* line 305, ../sass/layout.sass */
ul#Menu2 li ul li ul { background: #dcdcdc; margin-left: 0; }
/* line 311, ../sass/layout.sass */
ul#Menu2 li li a.current { color: #555555; font-weight: 700; background: #dcdcdc; }
/* line 316, ../sass/layout.sass */
ul#Menu2 li li a.section { color: #555555; font-weight: 700; background: #dcdcdc; }
/* line 321, ../sass/layout.sass */
ul#Menu2 li li a.section:hover { color: #555555; font-weight: 700; background: #dcdcdc; }
/* line 326, ../sass/layout.sass */
ul#Menu2 li li a.current:hover { color: #555555; font-weight: 700; background: #dcdcdc; }
/* line 331, ../sass/layout.sass */
ul#Menu2 li li ul { margin: 0 0 0 10px; padding: 0; width: 175px; }
/* line 336, ../sass/layout.sass */
ul#Menu2 li li ul .roundWhite { margin-bottom: -10px; }
/* line 339, ../sass/layout.sass */
ul#Menu2 li a.levelb { font-size: 1.7em; text-indent: 8px; width: 188px; background: transparent; margin-left: 10px; }
/* line 346, ../sass/layout.sass */
ul#Menu2 li a.levelb:hover { background: #bcbcbc url(../images/sidebarSideArrow2.gif) no-repeat right center; text-decoration: none; display: block; color: white; }
/* line 353, ../sass/layout.sass */
ul#Menu2 li li a.current, ul#Menu2 li li a.section { background: #bcbcbc url(../images/sidebarSideArrow2.gif) no-repeat right center; text-decoration: none; display: block; color: white; }
/* line 359, ../sass/layout.sass */
ul#Menu2 li li a.current:hover, ul#Menu2 li li a.section:hover { background: #bcbcbc url(../images/sidebarSideArrow2.gif) no-repeat right center; text-decoration: none; display: block; color: white; }
/* line 365, ../sass/layout.sass */
ul#Menu2 li a.levelb:hover span { background: transparent url(../images/sidebarTopLeftHover2.gif) no-repeat left top; display: block; width: 100%; height: 100%; }
/* line 373, ../sass/layout.sass */
ul#Menu2 li li a.current span, ul#Menu2 li li a.current:hover span { background: transparent url(../images/sidebarTopLeftHover2.gif) no-repeat left top; display: block; width: 100%; height: 100%; }
/* line 380, ../sass/layout.sass */
ul#Menu2 li li a.section span, ul#Menu2 li li a.section:hover span { background: transparent url(../images/sidebarTopLeftHover2.gif) no-repeat left top; display: block; width: 100%; height: 100%; }
/* line 386, ../sass/layout.sass */
ul#Menu2 li a.levelb:hover em { background: transparent url(../images/sidebarBottomLeftHover2.gif) no-repeat left bottom; display: block; width: 100%; height: 100%; }
/* line 394, ../sass/layout.sass */
ul#Menu2 li li a.current em, ul#Menu2 li li a.current:hover em { background: transparent url(../images/sidebarBottomLeftHover2.gif) no-repeat left bottom; display: block; width: 100%; height: 100%; }
/* line 401, ../sass/layout.sass */
ul#Menu2 li li a.section em, ul#Menu2 li li a.section:hover em { background: transparent url(../images/sidebarBottomLeftHover2.gif) no-repeat left bottom; display: block; width: 100%; height: 100%; }

/* line 408, ../sass/layout.sass */
#CommentHolder ul { list-style: none; margin: 20px 0; }

/* line 413, ../sass/layout.sass */
#PageComments li { margin: 5px 0; padding: 1px; width: 88%; }
/* line 418, ../sass/layout.sass */
#PageComments li.odd { background: #e8f6ff url(../images/commentBg.png) no-repeat 1% 10%; padding-left: 40px; padding-right: 10px; border-bottom: 2px solid #bce4fe; }
/* line 424, ../sass/layout.sass */
#PageComments li.even { background: white url(../images/commentBgAlt.png) no-repeat 99% 10%; padding-right: 40px; padding-left: 10px; }
/* line 429, ../sass/layout.sass */
#PageComments li.odd p.info { color: #3aa0c3; }

/* line 433, ../sass/layout.sass */
.actionLinks li { display: inline; border-right: 1px solid #dddddd; }
/* line 437, ../sass/layout.sass */
.actionLinks li a { padding-right: 3px; font-size: 10px; }
/* line 441, ../sass/layout.sass */
.actionLinks li.last { border-right: none; }

/* line 445, ../sass/layout.sass */
.commentrss { background: transparent url(../images/feed-icon-14x14.png) no-repeat; padding-left: 20px; font-size: 1.1em; line-height: 1.6em; }

/* line 452, ../sass/layout.sass */
#PageCommentsPagination p { text-align: center; font-size: 1.2em; }

/* line 457, ../sass/layout.sass */
#PageComments p { font-size: 1em; margin: 8px 0; }
/* line 461, ../sass/layout.sass */
#PageComments p.info { color: #999999; margin: 0px; padding: 0; line-height: 1em; font-size: 0.9em; }

/* line 469, ../sass/layout.sass */
#PageCommentInterface_Form_PostCommentForm_action_postcomment { margin-bottom: 20px; }

/* line 473, ../sass/layout.sass */
ul#SearchResults { margin: 10px 0; }
/* line 476, ../sass/layout.sass */
ul#SearchResults li { list-style: none; margin: 5px 0; font-size: 1em; }

/* line 482, ../sass/layout.sass */
#SearchForm_SearchForm { float: right; width: 240px; margin: 5px; }
/* line 487, ../sass/layout.sass */
#SearchForm_SearchForm .middleColumn { float: left; width: 164px; margin: 0 5px 0 0; padding: 2px; background-color: #51a9df; }
/* line 494, ../sass/layout.sass */
#SearchForm_SearchForm .middleColumn input.text { width: 160px; border: none; color: #666666; }
/* line 499, ../sass/layout.sass */
#SearchForm_SearchForm #SearchForm_SearchForm_action_results { float: left; margin-top: 2px; }

/* line 504, ../sass/layout.sass */
.message { margin: 15px; padding: 5px; width: 92%; color: #979908; border: 4px solid #f7f8b4; background: #ffffea; }

/* line 513, ../sass/layout.sass */
span.middleColumn .message { margin: 4px 0 0 3px; }

/* line 517, ../sass/layout.sass */
.required { margin: 4px 0 0 3px; padding: 5px; width: 92%; color: #dc1313; border: 4px solid #ff7373; background: #fed0d0; }

/* line 526, ../sass/layout.sass */
p#Remember label { margin: -24px 0 0 20px; text-align: left; }

/* line 531, ../sass/layout.sass */
.entry { border-bottom: 1px solid #eeeeee; }

/* line 535, ../sass/layout.sass */
.typography #Content p.authorDate { color: #444444; margin-top: -15px; }

/* line 540, ../sass/layout.sass */
#Unsubscribe_MailingListForm_MailingListForm { min-height: 100px; }
/* line 543, ../sass/layout.sass */
#Unsubscribe_MailingListForm_MailingListForm p { margin: 0 !important; padding: 10px; }
/* line 547, ../sass/layout.sass */
#Unsubscribe_MailingListForm_MailingListForm p label { display: inline; }
/* line 550, ../sass/layout.sass */
#Unsubscribe_MailingListForm_MailingListForm label { margin: 0; }

/* line 554, ../sass/layout.sass */
#Footer { clear: both; width: 800px; height: 5em; background: transparent url(../images/footerBottom.gif) no-repeat bottom left; text-align: center; }
/* line 561, ../sass/layout.sass */
#Footer .footerTop { width: 100%; background: transparent url(../images/footerTop.gif) no-repeat top left; display: block; height: 2em; }
/* line 567, ../sass/layout.sass */
#Footer p { color: white; font-size: 1.1em; text-align: center; margin-top: -0.8em; }
/* line 573, ../sass/layout.sass */
#Footer a { color: white; text-decoration: none; }
/* line 577, ../sass/layout.sass */
#Footer a:hover { color: white; text-decoration: underline; }
