/*
* Apply a CSS3 border radius to the bottom corners only
* @include borderBottomRadius(4px);
*/
/*
* Apply a CSS3 border radius to the left corners only
* @include borderLeftRadius(4px);
*/
/* Kudos to http://www.colorzilla.com/gradient-editor/ */
/*
* Apply a CSS3 box-shadow
* @include boxShadow(5px, 5px, 10px, #000);
*/
/*
* Apply an inset CSS3 box-shadow
* @include insetBoxShadow(5px, 5px, 10px, #000);
*/
/* line 1, /home/xananax/www/nz/themes/nounzein/sass/helpers/_reset.scss */
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }

/* line 2, /home/xananax/www/nz/themes/nounzein/sass/helpers/_reset.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 3, /home/xananax/www/nz/themes/nounzein/sass/helpers/_reset.scss */
fieldset, img { border: 0; }

/* line 4, /home/xananax/www/nz/themes/nounzein/sass/helpers/_reset.scss */
h1, h2, h3, h4, h5, h6, address, caption { font-style: normal; font-size: 100%; font-weight: normal; }

/* line 5, /home/xananax/www/nz/themes/nounzein/sass/helpers/_reset.scss */
caption, th { text-align: left; }

/* line 6, /home/xananax/www/nz/themes/nounzein/sass/helpers/_reset.scss */
.listreset, .menu, .menu ul, .gallery ul { margin: 0; padding: 0; list-style: none; }
/* line 8, /home/xananax/www/nz/themes/nounzein/sass/helpers/_reset.scss */
.listreset li, .menu li, .menu ul li, .gallery ul li { margin: 0; padding: 0; list-style: none; }

/* line 12, /home/xananax/www/nz/themes/nounzein/sass/helpers/_reset.scss */
:focus, :active { outline: none; }

/* line 1, /home/xananax/www/nz/themes/nounzein/sass/helpers/_base.scss */
.clear { float: left; clear: both; }

/* line 6, /home/xananax/www/nz/themes/nounzein/sass/helpers/_base.scss */
.division, .MainWrappers, html, body, #Body, #Header, #Footer, #Content { margin: 0; padding: 0; width: 100%; clear: both; }

/* line 10, /home/xananax/www/nz/themes/nounzein/sass/helpers/_base.scss */
.MainWrappers, html, body { width: 100%; }

/* line 15, /home/xananax/www/nz/themes/nounzein/sass/helpers/_base.scss */
.listReset { list-style: none; padding: 0; margin: 0; }
/* line 19, /home/xananax/www/nz/themes/nounzein/sass/helpers/_base.scss */
.listReset li { list-style: none; padding: 0; margin: 0; }

/* ColorBox Core Style: The following CSS is consistent between example themes and should not be altered.
*/
/* line 5, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#colorbox, #cboxOverlay, #cboxWrapper { position: absolute; top: 0; left: 0; z-index: 9999; overflow: hidden; }

/* line 6, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#cboxOverlay { position: fixed; width: 100%; height: 100%; }

/* line 7, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#cboxMiddleLeft, #cboxBottomLeft { clear: left; }

/* line 8, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#cboxContent { position: relative; }

/* line 9, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#cboxLoadedContent { overflow: auto; }

/* line 10, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#cboxTitle { margin: 0; }

/* line 11, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#cboxLoadingOverlay, #cboxLoadingGraphic { position: absolute; top: 0; left: 0; width: 100%; }

/* line 12, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow { cursor: pointer; }

/* line 13, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
.cboxPhoto { float: left; margin: auto; border: 0; display: block; }

/* line 14, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
.cboxIframe { width: 100%; height: 100%; display: block; border: 0; }

/* line 17, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#cboxOverlay { background: #000; }

/* line 19, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#colorbox #cboxContent { margin-top: 32px; overflow: visible; }
/* line 22, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#colorbox #cboxContent .cboxIframe { background: #fff; }
/* line 23, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#colorbox #cboxContent #cboxError { padding: 50px; border: 1px solid #ccc; }
/* line 24, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#colorbox #cboxContent #cboxLoadedContent { background: #000; padding: 1px; }
/* line 25, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#colorbox #cboxContent #cboxLoadingGraphic { background: url(../images/loading.gif) no-repeat center center; }
/* line 26, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#colorbox #cboxContent #cboxLoadingOverlay { background: #000; }
/* line 27, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#colorbox #cboxContent #cboxTitle { position: absolute; top: -22px; left: 0; color: #000; }
/* line 28, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#colorbox #cboxContent #cboxCurrent { position: absolute; top: -22px; right: 205px; text-indent: -9999px; }
/* line 29, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#colorbox #cboxContent #cboxSlideshow, #colorbox #cboxContent #cboxPrevious, #colorbox #cboxContent #cboxNext, #colorbox #cboxContent #cboxClose { text-indent: -9999px; width: 20px; height: 20px; position: absolute; top: -20px; background: url(../images/controls.png) no-repeat 0 0; }
/* line 30, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#colorbox #cboxContent #cboxPrevious { background-position: 0px 0px; right: 44px; }
/* line 31, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#colorbox #cboxContent #cboxPrevious:hover { background-position: 0px -25px; }
/* line 32, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#colorbox #cboxContent #cboxNext { background-position: -25px 0px; right: 22px; }
/* line 33, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#colorbox #cboxContent #cboxNext:hover { background-position: -25px -25px; }
/* line 34, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#colorbox #cboxContent #cboxClose { background-position: -50px 0px; right: 0; margin-right: 1px; }
/* line 35, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#colorbox #cboxContent #cboxClose:hover { background-position: -50px -25px; }
/* line 36, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#colorbox #cboxContent .cboxSlideshow_on #cboxPrevious, #colorbox #cboxContent .cboxSlideshow_off #cboxPrevious { right: 66px; }
/* line 37, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#colorbox #cboxContent .cboxSlideshow_on #cboxSlideshow { background-position: -75px -25px; right: 44px; }
/* line 38, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#colorbox #cboxContent .cboxSlideshow_on #cboxSlideshow:hover { background-position: -100px -25px; }
/* line 39, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#colorbox #cboxContent .cboxSlideshow_off #cboxSlideshow { background-position: -100px 0px; right: 44px; }
/* line 40, /home/xananax/www/nz/themes/nounzein/sass/includes/_colorbox.scss */
#colorbox #cboxContent .cboxSlideshow_off #cboxSlideshow:hover { background-position: -75px -25px; }

/* line 1, /home/xananax/www/nz/themes/nounzein/sass/includes/_links.scss */
a { text-decoration: none; color: #eeeeee; }
/* line 4, /home/xananax/www/nz/themes/nounzein/sass/includes/_links.scss */
a:hover { text-decoration: underline; }
/* line 7, /home/xananax/www/nz/themes/nounzein/sass/includes/_links.scss */
a:active, a:hover, a:visited { color: #eeeeee; }

/* line 1, /home/xananax/www/nz/themes/nounzein/sass/includes/_menus.scss */
.menu { display: table; width: 100%; height: 50px; text-align: center; padding: 10px 0; font-size: 12px; line-height: 25px; color: #333; }
/* line 11, /home/xananax/www/nz/themes/nounzein/sass/includes/_menus.scss */
.menu h1 { height: 50px; background: #fff; }
/* line 13, /home/xananax/www/nz/themes/nounzein/sass/includes/_menus.scss */
.menu h1 a, .menu h1 a img { border: none; margin: 0; padding: 0; }
/* line 16, /home/xananax/www/nz/themes/nounzein/sass/includes/_menus.scss */
.menu ul { display: table; width: 100%; }
/* line 21, /home/xananax/www/nz/themes/nounzein/sass/includes/_menus.scss */
.menu li { display: table-cell; vertical-align: middle; margin: 1px; }
/* line 25, /home/xananax/www/nz/themes/nounzein/sass/includes/_menus.scss */
.menu li li, .menu li h2 { height: 25px; padding: 0; margin: 0; background: #fff; }
/* line 31, /home/xananax/www/nz/themes/nounzein/sass/includes/_menus.scss */
.menu li a { width: 100%; height: 25px; display: block; text-decoration: none; color: #333; }
/* line 37, /home/xananax/www/nz/themes/nounzein/sass/includes/_menus.scss */
.menu li a:hover { background: #ccc; text-decoration: none; }
/* line 41, /home/xananax/www/nz/themes/nounzein/sass/includes/_menus.scss */
.menu li a.current { color: #fff; background: #2F2F2F; cursor: default; }
/* line 48, /home/xananax/www/nz/themes/nounzein/sass/includes/_menus.scss */
.menu li#Logo { width: 50px; height: 50px; }
/* line 53, /home/xananax/www/nz/themes/nounzein/sass/includes/_menus.scss */
.menu li#CategoriesMenu a { background: #c0cced; }
/* line 56, /home/xananax/www/nz/themes/nounzein/sass/includes/_menus.scss */
.menu li#CategoriesMenu h2, .menu li#CategoriesMenu a.current { background: #8ea9f8; }
/* line 61, /home/xananax/www/nz/themes/nounzein/sass/includes/_menus.scss */
.menu li#CollectionsMenu a { background: #fff4a4; }
/* line 64, /home/xananax/www/nz/themes/nounzein/sass/includes/_menus.scss */
.menu li#CollectionsMenu h2, .menu li#CollectionsMenu a.current { background: #ffe564; }
/* line 69, /home/xananax/www/nz/themes/nounzein/sass/includes/_menus.scss */
.menu li#SiteMenu a { background: #fff; }
/* line 72, /home/xananax/www/nz/themes/nounzein/sass/includes/_menus.scss */
.menu li#SiteMenu h2, .menu li#SiteMenu a.current { background: #fff; }
/* line 75, /home/xananax/www/nz/themes/nounzein/sass/includes/_menus.scss */
.menu li#SiteMenu a.current, .menu li#SiteMenu a:hover { color: #2F2F2F; text-decoration: underline; }
/* line 81, /home/xananax/www/nz/themes/nounzein/sass/includes/_menus.scss */
.menu > li { height: 50px; }

/* line 87, /home/xananax/www/nz/themes/nounzein/sass/includes/_menus.scss */
#Footer .menu { width: auto; display: inline; }
/* line 91, /home/xananax/www/nz/themes/nounzein/sass/includes/_menus.scss */
#Footer p { display: inline; }

/* line 1, /home/xananax/www/nz/themes/nounzein/sass/includes/_form.sass */
fieldset { border: 0; margin: 0; padding: 0; }

/* line 6, /home/xananax/www/nz/themes/nounzein/sass/includes/_form.sass */
input.action { padding: 2px; font-size: 11px; font-family: Verdana, Tahoma, Sans-serif; }
/* line 10, /home/xananax/www/nz/themes/nounzein/sass/includes/_form.sass */
input.action:hover, input.action:focus { cursor: pointer; }

/* line 14, /home/xananax/www/nz/themes/nounzein/sass/includes/_form.sass */
form ul { list-style: none; }

/* line 18, /home/xananax/www/nz/themes/nounzein/sass/includes/_form.sass */
.middleColumn { display: block; margin: 15px 10px 10px 0; background: #e9e9e9; padding: 4px; width: 306px; clear: left; }

/* line 27, /home/xananax/www/nz/themes/nounzein/sass/includes/_form.sass */
#Sidebar .middleColumn { margin: 0 0 0 8px; display: inline; }

/* line 32, /home/xananax/www/nz/themes/nounzein/sass/includes/_form.sass */
div.tab .field .middleColumn { clear: none !important; margin: 0 !important; width: auto; }

/* line 39, /home/xananax/www/nz/themes/nounzein/sass/includes/_form.sass */
.middleColumn .middleColumn { margin-left: 0; margin-right: 0; padding: 0; }
/* line 44, /home/xananax/www/nz/themes/nounzein/sass/includes/_form.sass */
.middleColumn .message { margin: 0; }

/* line 48, /home/xananax/www/nz/themes/nounzein/sass/includes/_form.sass */
input.text, textarea, select { padding: 2px; border: 1px solid #a7a7a7; color: black; font-size: 12px; font-weight: bold; width: 300px; }

/* line 57, /home/xananax/www/nz/themes/nounzein/sass/includes/_form.sass */
textarea { font-family: Verdana, Tahoma, sans-serif; font-size: 12px; }

/* line 62, /home/xananax/www/nz/themes/nounzein/sass/includes/_form.sass */
input:focus span, textarea:focus span { border: 3px solid black; }

/* line 68, /home/xananax/www/nz/themes/nounzein/sass/includes/_form.sass */
form .date input.month, form .date input.day, form .date input.year { width: auto; }
/* line 72, /home/xananax/www/nz/themes/nounzein/sass/includes/_form.sass */
form .datetime .clear { clear: both; }
/* line 75, /home/xananax/www/nz/themes/nounzein/sass/includes/_form.sass */
form .datetime .date, form .datetime .time { float: left; clear: none; width: auto; }
/* line 80, /home/xananax/www/nz/themes/nounzein/sass/includes/_form.sass */
form .datetime .middleColumn .middleColumn, form .datetime .date input, form .datetime .time input { width: auto; }

/* line 84, /home/xananax/www/nz/themes/nounzein/sass/includes/_form.sass */
select { width: auto; }

/* line 88, /home/xananax/www/nz/themes/nounzein/sass/includes/_form.sass */
.typography label { display: block; margin: 10px 0 -10px 0; color: #777777; font-size: 12px; }

/* line 95, /home/xananax/www/nz/themes/nounzein/sass/includes/_form.sass */
label.right { display: inline; }

/* line 99, /home/xananax/www/nz/themes/nounzein/sass/includes/_form.sass */
ul.optionset { margin: 0; overflow: hidden; }
/* line 103, /home/xananax/www/nz/themes/nounzein/sass/includes/_form.sass */
ul.optionset li { margin: 6px 0; clear: both; }
/* line 107, /home/xananax/www/nz/themes/nounzein/sass/includes/_form.sass */
ul.optionset li input { float: left; margin: 0 6px; }
/* line 111, /home/xananax/www/nz/themes/nounzein/sass/includes/_form.sass */
ul.optionset li label { margin: 0; }

/* line 1, /home/xananax/www/nz/themes/nounzein/sass/includes/_isotope.scss */
.isotope-item { z-index: 2; }

/* line 5, /home/xananax/www/nz/themes/nounzein/sass/includes/_isotope.scss */
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }

/**** Isotope CSS3 transitions ****/
/* line 13, /home/xananax/www/nz/themes/nounzein/sass/includes/_isotope.scss */
.isotope, .isotope .isotope-item { -webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; -o-transition-duration: 0.8s; transition-duration: 0.8s; }

/* line 20, /home/xananax/www/nz/themes/nounzein/sass/includes/_isotope.scss */
.isotope { -webkit-transition-property: height, width; -moz-transition-property: height, width; -o-transition-property: height, width; transition-property: height, width; }

/* line 27, /home/xananax/www/nz/themes/nounzein/sass/includes/_isotope.scss */
.isotope .isotope-item { -webkit-transition-property: -webkit-transform, opacity; -moz-transition-property: -moz-transform, opacity; -o-transition-property: top, left, opacity; transition-property: transform, opacity; }

/**** disabling Isotope CSS3 transitions ****/
/* line 38, /home/xananax/www/nz/themes/nounzein/sass/includes/_isotope.scss */
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition { -webkit-transition-duration: 0s; -moz-transition-duration: 0s; -o-transition-duration: 0s; transition-duration: 0s; }

/* line 15, ../sass/style.scss */
#Body, #Header, #Footer, #Content { width: 920px; min-height: 50px; margin-left: auto; margin-right: auto; margin-top: 0; margin-bottom: 0; }

/* line 27, ../sass/style.scss */
Body { color: #eeeeee; font-family: Verdana, Lucida, Arial, sans-serif; background: #DDD; }

/* line 32, ../sass/style.scss */
#Body { padding-left: 10px; padding-right: 10px; padding-top: 0; padding-bottom: 0; background: none repeat scroll 0 0 #2F2F2F; color: #C6C6C6; }

/* line 44, ../sass/style.scss */
#Footer { margin-top: 20px; font-size: 10px; }

/* line 52, ../sass/style.scss */
.gallery ul li { float: left; padding: 1px; }
/* line 55, ../sass/style.scss */
.gallery ul li a { margin: 0 auto; display: block; padding: 0; line-height: 0; position: relative; }
/* line 61, ../sass/style.scss */
.gallery ul li a.loading { border: 1px solid black; }
/* line 63, ../sass/style.scss */
.gallery ul li a.loading .load-anim { display: block; }
/* line 67, ../sass/style.scss */
.gallery ul li a img { margin: 0; padding: 0; border: 0; }
/* line 71, ../sass/style.scss */
.gallery ul li a img .large { width: 500px; }
/* line 75, ../sass/style.scss */
.gallery ul li a .load-anim { width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: white; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; display: none; }

/* line 90, ../sass/style.scss */
#Header { height: 50px; }
/* line 92, ../sass/style.scss */
#Header #Navigation { height: inherit; }
/* line 95, ../sass/style.scss */
#Header h1 { float: left; }
