/*
* Apply a CSS3 border radius to the bottom corners only
* @include borderBottomRadius(4px);
*/
/*
* Apply a CSS3 border radius to the left corners only
* @include borderLeftRadius(4px);
*/
/* Kudos to http://www.colorzilla.com/gradient-editor/ */
/*
* Apply a CSS3 box-shadow
* @include boxShadow(5px, 5px, 10px, #000);
*/
/*
* Apply an inset CSS3 box-shadow
* @include insetBoxShadow(5px, 5px, 10px, #000);
*/
/* line 1, ../sass/helpers/_reset.scss */
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }

/* line 2, ../sass/helpers/_reset.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 3, ../sass/helpers/_reset.scss */
fieldset, img { border: 0; }

/* line 4, ../sass/helpers/_reset.scss */
h1, h2, h3, h4, h5, h6, address, caption { font-style: normal; font-size: 100%; font-weight: normal; }

/* line 5, ../sass/helpers/_reset.scss */
caption, th { text-align: left; }

/* line 6, ../sass/helpers/_reset.scss */
.listreset, .menu, .menu ul, .gallery ul { margin: 0; padding: 0; list-style: none; }
/* line 8, ../sass/helpers/_reset.scss */
.listreset li, .menu li, .gallery ul li { margin: 0; padding: 0; list-style: none; }

/* line 12, ../sass/helpers/_reset.scss */
:focus, :active { outline: none; }

/* line 1, ../sass/helpers/_base.scss */
.clear { float: left; clear: both; }

/* line 6, ../sass/helpers/_base.scss */
.division, .MainWrappers, html, body, #Body, #Header, #Footer, #Content { margin: 0; padding: 0; width: 100%; clear: both; }

/* line 10, ../sass/helpers/_base.scss */
.MainWrappers, html, body { width: 100%; }

/* line 15, ../sass/helpers/_base.scss */
.listReset { list-style: none; padding: 0; margin: 0; }
/* line 19, ../sass/helpers/_base.scss */
.listReset li { list-style: none; padding: 0; margin: 0; }

/* ColorBox Core Style: The following CSS is consistent between example themes and should not be altered.
*/
/* line 5, ../sass/includes/_colorbox.scss */
#colorbox, #cboxOverlay, #cboxWrapper { position: absolute; top: 0; left: 0; z-index: 9999; overflow: hidden; }

/* line 6, ../sass/includes/_colorbox.scss */
#cboxOverlay { position: fixed; width: 100%; height: 100%; }

/* line 7, ../sass/includes/_colorbox.scss */
#cboxMiddleLeft, #cboxBottomLeft { clear: left; }

/* line 8, ../sass/includes/_colorbox.scss */
#cboxContent { position: relative; }

/* line 9, ../sass/includes/_colorbox.scss */
#cboxLoadedContent { overflow: auto; }

/* line 10, ../sass/includes/_colorbox.scss */
#cboxTitle { margin: 0; }

/* line 11, ../sass/includes/_colorbox.scss */
#cboxLoadingOverlay, #cboxLoadingGraphic { position: absolute; top: 0; left: 0; width: 100%; }

/* line 12, ../sass/includes/_colorbox.scss */
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow { cursor: pointer; }

/* line 13, ../sass/includes/_colorbox.scss */
.cboxPhoto { float: left; margin: auto; border: 0; display: block; }

/* line 14, ../sass/includes/_colorbox.scss */
.cboxIframe { width: 100%; height: 100%; display: block; border: 0; }

/* line 17, ../sass/includes/_colorbox.scss */
#cboxOverlay { background: #000; }

/* line 19, ../sass/includes/_colorbox.scss */
#colorbox #cboxContent { margin-top: 32px; overflow: visible; }
/* line 22, ../sass/includes/_colorbox.scss */
#colorbox #cboxContent .cboxIframe { background: #fff; }
/* line 23, ../sass/includes/_colorbox.scss */
#colorbox #cboxContent #cboxError { padding: 50px; border: 1px solid #cccccc; }
/* line 24, ../sass/includes/_colorbox.scss */
#colorbox #cboxContent #cboxLoadedContent { background: #000; padding: 1px; }
/* line 25, ../sass/includes/_colorbox.scss */
#colorbox #cboxContent #cboxLoadingGraphic { background: url(../images/loading.gif) no-repeat center center; }
/* line 26, ../sass/includes/_colorbox.scss */
#colorbox #cboxContent #cboxLoadingOverlay { background: #000; }
/* line 27, ../sass/includes/_colorbox.scss */
#colorbox #cboxContent #cboxTitle { position: absolute; top: -22px; left: 0; color: #fff; }
/* line 28, ../sass/includes/_colorbox.scss */
#colorbox #cboxContent #cboxCurrent { position: absolute; top: -22px; right: 205px; text-indent: -9999px; }
/* line 29, ../sass/includes/_colorbox.scss */
#colorbox #cboxContent #cboxSlideshow, #colorbox #cboxContent #cboxPrevious, #colorbox #cboxContent #cboxNext, #colorbox #cboxContent #cboxClose { text-indent: -9999px; width: 20px; height: 20px; position: absolute; top: -20px; background: url(../images/controls.png) no-repeat 0 0; }
/* line 30, ../sass/includes/_colorbox.scss */
#colorbox #cboxContent #cboxPrevious { background-position: 0px 0px; right: 44px; }
/* line 31, ../sass/includes/_colorbox.scss */
#colorbox #cboxContent #cboxPrevious:hover { background-position: 0px -25px; }
/* line 32, ../sass/includes/_colorbox.scss */
#colorbox #cboxContent #cboxNext { background-position: -25px 0px; right: 22px; }
/* line 33, ../sass/includes/_colorbox.scss */
#colorbox #cboxContent #cboxNext:hover { background-position: -25px -25px; }
/* line 34, ../sass/includes/_colorbox.scss */
#colorbox #cboxContent #cboxClose { background-position: -50px 0px; right: 0; margin-right: 1px; }
/* line 35, ../sass/includes/_colorbox.scss */
#colorbox #cboxContent #cboxClose:hover { background-position: -50px -25px; }
/* line 36, ../sass/includes/_colorbox.scss */
#colorbox #cboxContent .cboxSlideshow_on #cboxPrevious, #colorbox #cboxContent .cboxSlideshow_off #cboxPrevious { right: 66px; }
/* line 37, ../sass/includes/_colorbox.scss */
#colorbox #cboxContent .cboxSlideshow_on #cboxSlideshow { background-position: -75px -25px; right: 44px; }
/* line 38, ../sass/includes/_colorbox.scss */
#colorbox #cboxContent .cboxSlideshow_on #cboxSlideshow:hover { background-position: -100px -25px; }
/* line 39, ../sass/includes/_colorbox.scss */
#colorbox #cboxContent .cboxSlideshow_off #cboxSlideshow { background-position: -100px 0px; right: 44px; }
/* line 40, ../sass/includes/_colorbox.scss */
#colorbox #cboxContent .cboxSlideshow_off #cboxSlideshow:hover { background-position: -75px -25px; }

/* line 1, ../sass/includes/_links.scss */
a { text-decoration: none; color: #6e6e6e; }
/* line 4, ../sass/includes/_links.scss */
a:hover { text-decoration: underline; }
/* line 7, ../sass/includes/_links.scss */
a:active, a:hover, a:visited { color: #6e6e6e; }

/* line 1, ../sass/includes/_menus.scss */
.menu { display: table; width: 100%; height: 50px; text-align: center; padding: 10px 0; font-size: 12px; line-height: 25px; color: #333; }
/* line 11, ../sass/includes/_menus.scss */
.menu .category-content { display: none; }
/* line 14, ../sass/includes/_menus.scss */
.menu h1 { height: 50px; background: #fff; }
/* line 16, ../sass/includes/_menus.scss */
.menu h1 a, .menu h1 a img { border: none; margin: 0; padding: 0; }
/* line 19, ../sass/includes/_menus.scss */
.menu ul { display: table; width: 100%; }
/* line 24, ../sass/includes/_menus.scss */
.menu li { display: table-cell; vertical-align: middle; margin: 1px; }
/* line 28, ../sass/includes/_menus.scss */
.menu li li, .menu li h2 { height: 25px; padding: 0; margin: 0; background: #fff; cursor: pointer; }
/* line 37, ../sass/includes/_menus.scss */
.menu li > h2:after { content: ' \25BC'; font-size: 60%; text-decoration: none; }
/* line 46, ../sass/includes/_menus.scss */
.menu li a { width: 100%; height: 25px; display: block; color: #333; }
/* line 51, ../sass/includes/_menus.scss */
.menu li a:hover { text-decoration: underline; }
/* line 56, ../sass/includes/_menus.scss */
.menu li a.current { text-decoration: underline; cursor: default; }
/* line 64, ../sass/includes/_menus.scss */
.menu li#Logo { width: 50px; height: 50px; }
/* line 98, ../sass/includes/_menus.scss */
.menu li#SiteMenu #Logo { display: block; width: 50px; position: absolute; left: 0; }
/* line 106, ../sass/includes/_menus.scss */
.menu > li { height: 50px; }

/* line 112, ../sass/includes/_menus.scss */
#Footer .menu { width: auto; display: inline; }
/* line 116, ../sass/includes/_menus.scss */
#Footer p { display: inline; }

/* line 1, ../sass/includes/_form.scss */
fieldset { border: 0; margin: 0; padding: 0; }

/* line 7, ../sass/includes/_form.scss */
input.action { padding: 2px; font-size: 11px; font-family: Verdana, Tahoma, Sans-serif; }
/* line 11, ../sass/includes/_form.scss */
input.action:hover, input.action:focus { cursor: pointer; }

/* line 16, ../sass/includes/_form.scss */
form ul { list-style: none; }

/* line 20, ../sass/includes/_form.scss */
.middleColumn { display: block; margin: 15px 10px 10px 0; background: #e9e9e9; padding: 4px; width: 306px; clear: left; }

/* line 29, ../sass/includes/_form.scss */
#Sidebar .middleColumn { margin: 0 0 0 8px; display: inline; }

/* line 34, ../sass/includes/_form.scss */
div.tab .field .middleColumn { clear: none !important; margin: 0 !important; width: auto; }

/* line 41, ../sass/includes/_form.scss */
.middleColumn .middleColumn { margin-left: 0; margin-right: 0; padding: 0; }
/* line 46, ../sass/includes/_form.scss */
.middleColumn .message { margin: 0; }

/* line 51, ../sass/includes/_form.scss */
input.text, textarea, select { padding: 2px; border: 1px solid #a7a7a7; color: black; font-size: 12px; font-weight: bold; width: 300px; }

/* line 60, ../sass/includes/_form.scss */
textarea { font-family: Verdana, Tahoma, sans-serif; font-size: 12px; }

/* line 65, ../sass/includes/_form.scss */
input:focus span, textarea:focus span { border: 3px solid black; }

/* line 71, ../sass/includes/_form.scss */
form .date input.month, form .date input.day, form .date input.year { width: auto; }
/* line 76, ../sass/includes/_form.scss */
form .datetime .clear { clear: both; }
/* line 79, ../sass/includes/_form.scss */
form .datetime .date, form .datetime .time { float: left; clear: none; width: auto; }
/* line 84, ../sass/includes/_form.scss */
form .datetime .middleColumn .middleColumn, form .datetime .date input, form .datetime .time input { width: auto; }

/* line 90, ../sass/includes/_form.scss */
select { width: auto; }

/* line 93, ../sass/includes/_form.scss */
input[type="submit"] { padding: 10px; }

/* line 97, ../sass/includes/_form.scss */
.typography label { display: block; margin: 20px 0 -10px 0; color: #777777; }
/* line 101, ../sass/includes/_form.scss */
.typography label em { color: #990000; }

/* line 106, ../sass/includes/_form.scss */
label.right { display: inline; }

/* line 110, ../sass/includes/_form.scss */
ul.optionset { margin: 0; overflow: hidden; }
/* line 113, ../sass/includes/_form.scss */
ul.optionset li { margin: 6px 0; clear: both; }
/* line 116, ../sass/includes/_form.scss */
ul.optionset li input { float: left; margin: 0 6px; }
/* line 120, ../sass/includes/_form.scss */
ul.optionset li label { margin: 0; }

/* line 1, ../sass/includes/_isotope.scss */
.isotope-item { z-index: 2; }

/* line 5, ../sass/includes/_isotope.scss */
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }

/**** Isotope CSS3 transitions ****/
/* line 13, ../sass/includes/_isotope.scss */
.isotope, .isotope .isotope-item { -webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; -o-transition-duration: 0.8s; transition-duration: 0.8s; }

/* line 20, ../sass/includes/_isotope.scss */
.isotope { -webkit-transition-property: height, width; -moz-transition-property: height, width; -o-transition-property: height, width; transition-property: height, width; }

/* line 27, ../sass/includes/_isotope.scss */
.isotope .isotope-item { -webkit-transition-property: -webkit-transform, opacity; -moz-transition-property: -moz-transform, opacity; -o-transition-property: top, left, opacity; transition-property: transform, opacity; }

/**** disabling Isotope CSS3 transitions ****/
/* line 38, ../sass/includes/_isotope.scss */
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition { -webkit-transition-duration: 0s; -moz-transition-duration: 0s; -o-transition-duration: 0s; transition-duration: 0s; }

/* line 3, ../sass/includes/_typography.scss */
.typography { padding: 10px; }
/* line 5, ../sass/includes/_typography.scss */
.typography * { font-family: Verdana, Lucida, Arial, sans-serif; line-height: 25px; font-size: 16px; }
/* line 10, ../sass/includes/_typography.scss */
.typography p { color: #222; margin: 0 0 12px 0; }
/* line 14, ../sass/includes/_typography.scss */
.typography blockquote { margin: 10px; font-size: 1.4em; color: #777; font-style: italic; }
/* line 20, ../sass/includes/_typography.scss */
.typography q { display: block; font-size: 0.8em; margin: 1em 1em; padding: 0.5em; border: 1px #cccccc solid; }
/* line 27, ../sass/includes/_typography.scss */
.typography a { color: #54a6de; text-decoration: none; }
/* line 30, ../sass/includes/_typography.scss */
.typography a:visited { outline: none; color: #54a6de; }
/* line 34, ../sass/includes/_typography.scss */
.typography a:hover { text-decoration: underline; }
/* line 37, ../sass/includes/_typography.scss */
.typography a:hover, .typography a:active, .typography a.current { text-decoration: underline; }
/* line 42, ../sass/includes/_typography.scss */
.typography a[href$=".pdf"], .typography a[href$=".PDF"], .typography a.pdf { padding: 2px; padding-left: 20px; background: url(../images/icons/page_white_acrobat.png) no-repeat left center; }
/* line 49, ../sass/includes/_typography.scss */
.typography a[href$=".doc"], .typography a[href$=".DOC"], .typography a.doc { padding: 2px; padding-left: 20px; background: url(../images/icons/page_word.png) no-repeat left center; }
/* line 56, ../sass/includes/_typography.scss */
.typography a[href$=".xls"], .typography a[href$=".XLS"], .typography a.xls { padding: 2px; padding-left: 20px; background: url(../images/icons/page_excel.png) no-repeat left center; }
/* line 67, ../sass/includes/_typography.scss */
.typography a[href$=".gz"], .typography a[href$=".GZ"], .typography a[href$=".gzip"], .typography a[href$=".GZIP"], .typography a[href$=".zip"], .typography a[href$=".ZIP"], .typography a.archive { padding: 2px; padding-left: 20px; background: url(../images/icons/page_white_zip.png) no-repeat left center; }
/* line 74, ../sass/includes/_typography.scss */
.typography a[href$=".exe"], .typography a[href$=".EXE"], .typography a.application { padding: 2px; padding-left: 20px; background: url(../images/icons/application.png) no-repeat left center; }
/* line 80, ../sass/includes/_typography.scss */
.typography ul, .typography ol { margin: 0 0 18px 24px; color: #eeeeee; }
/* line 84, ../sass/includes/_typography.scss */
.typography h1, .typography h2 { margin: 0 0 18px 0; font-weight: 300; font-family: Tahoma, Verdana, sans-serif; }
/* line 89, ../sass/includes/_typography.scss */
.typography h1 { color: #8c8669; font-size: 24px; }
/* line 93, ../sass/includes/_typography.scss */
.typography h2 { color: #868065; font-size: 20px; }
/* line 97, ../sass/includes/_typography.scss */
.typography h3 { color: #7d785e; margin: 0 0 18px 0; font-weight: 300; clear: both; font-size: 18px; }
/* line 104, ../sass/includes/_typography.scss */
.typography h4 { font-size: 16px; color: #6f6a53; width: 95%; font-weight: 300; line-height: 18px; border-bottom: 1px solid #cccccc; margin: 0 0 16px 0; }
/* line 113, ../sass/includes/_typography.scss */
.typography h5 { font-size: 14px; color: #605c48; font-weight: 700; margin: 0 0 12px 0; }
/* line 119, ../sass/includes/_typography.scss */
.typography h6 { font-size: 13px; color: #524e3d; line-height: 1.4em; margin: 0 0 12px 0; }
/* line 125, ../sass/includes/_typography.scss */
.typography pre { font-family: "Courier New",Courier; display: block; font-size: 1.2em; margin: 2em 5em; padding: 0.5em; border: 1px #cccccc solid; background: #eee; }
/* line 134, ../sass/includes/_typography.scss */
.typography table { margin: 0 0 18px 0; font-size: 11px; color: #666; border-collapse: collapse; }
/* line 140, ../sass/includes/_typography.scss */
.typography td { border: 1px solid #999999; padding: 5px; }
/* line 144, ../sass/includes/_typography.scss */
.typography .left { text-align: left; }
/* line 147, ../sass/includes/_typography.scss */
.typography .center { text-align: center; }
/* line 150, ../sass/includes/_typography.scss */
.typography .right { text-align: right; }
/* line 153, ../sass/includes/_typography.scss */
.typography img { border: none; }
/* line 156, ../sass/includes/_typography.scss */
.typography.right { float: right; margin-left: 20px; }
/* line 160, ../sass/includes/_typography.scss */
.typography.left { float: left; }
/* line 163, ../sass/includes/_typography.scss */
.typography.leftAlone { float: left; margin-right: 100%; }
/* line 167, ../sass/includes/_typography.scss */
.typography.center { float: none; margin-left: auto; margin-right: auto; display: block; }

/* line 16, ../sass/style.scss */
#Body, #Header, #Footer, #Content { max-width: 1045px; min-height: 50px; margin-left: auto; margin-right: auto; margin-top: 0; margin-bottom: 0; }

/* line 28, ../sass/style.scss */
Body { color: #eeeeee; font-family: Verdana, Lucida, Arial, sans-serif; background: #DDD; }

/* line 33, ../sass/style.scss */
#Body { padding-left: 20px; padding-right: 20px; padding-top: 0; padding-bottom: 0; background: none repeat scroll 0 0 white; color: #C6C6C6; }

/* line 45, ../sass/style.scss */
#Footer { margin-top: 20px; font-size: 12px; }
/* line 48, ../sass/style.scss */
#Footer .links { float: left; margin-right: 10px; }

/* line 54, ../sass/style.scss */
#Navigation { position: relative; z-index: 400; }

/* line 59, ../sass/style.scss */
.content { margin-top: 25px; }

/* line 63, ../sass/style.scss */
.gallery { margin: 0 auto; }
/* line 67, ../sass/style.scss */
.gallery ul li { float: left; margin-bottom: 10px; }
/* line 70, ../sass/style.scss */
.gallery ul li a { margin: 0 auto; display: block; line-height: 0; position: relative; }
/* line 75, ../sass/style.scss */
.gallery ul li a.loading { border: 1px solid black; }
/* line 77, ../sass/style.scss */
.gallery ul li a.loading .load-anim { display: block; }
/* line 81, ../sass/style.scss */
.gallery ul li a img { margin: 0; padding: 0; border: 0; }
/* line 85, ../sass/style.scss */
.gallery ul li a img .large { width: 500px; }
/* line 89, ../sass/style.scss */
.gallery ul li a .load-anim { width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: white; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; display: none; }

/* line 104, ../sass/style.scss */
#Header { height: 50px; }
/* line 106, ../sass/style.scss */
#Header #Navigation { height: inherit; }
/* line 109, ../sass/style.scss */
#Header h1 { float: left; }

/* line 3, ../sass/includes/_responsive.scss */
.menu li { position: relative; }
/* line 5, ../sass/includes/_responsive.scss */
.menu li > h2, .menu li ul li a, .menu li ul li { height: 50px; font-size: 150%; line-height: 2.5; }
/* line 10, ../sass/includes/_responsive.scss */
.menu li ul { position: absolute; display: none; }
/* line 13, ../sass/includes/_responsive.scss */
.menu li ul li { display: block; }
/* line 15, ../sass/includes/_responsive.scss */
.menu li ul li a { line-height: 1.5; }
/* line 21, ../sass/includes/_responsive.scss */
.menu li:hover ul, .menu li.clicked ul { display: block; }
/* line 26, ../sass/includes/_responsive.scss */
.menu li#SiteMenu ul { padding-left: 50px; }
/* line 28, ../sass/includes/_responsive.scss */
.menu li#SiteMenu ul li { margin-right: 50px; }

@media only screen and (max-width: 600px) { /* line 36, ../sass/includes/_responsive.scss */
  #Body { padding: 0px; }
  /* line 39, ../sass/includes/_responsive.scss */
  .menu, .menu li:hover, .menu ul { -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2); box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2); }
  /* line 43, ../sass/includes/_responsive.scss */
  .menu { position: fixed; }
  /* line 46, ../sass/includes/_responsive.scss */
  .menu li#SiteMenu { width: 50px; }
  /* line 48, ../sass/includes/_responsive.scss */
  .menu li#SiteMenu ul { padding-left: 0; width: 200px; }
  /* line 51, ../sass/includes/_responsive.scss */
  .menu li#SiteMenu ul li { margin-right: 0px; }
  /* line 55, ../sass/includes/_responsive.scss */
  .menu li#SiteMenu > h2 span { display: none; }
  /* line 61, ../sass/includes/_responsive.scss */
  .links { font-size: 20px; } }
