@import "helpers/mixins";
@import "compass/css3";
@import "helpers/reset";
@import "helpers/base";
@import "includes/colorbox";
@import "includes/colors";
@import "includes/links";
@import "includes/menus";
@import "includes/units";
@import "includes/form";
@import "includes/isotope";
@import "includes/typography";

html,body{@extend .MainWrappers;}

#Body, #Header, #Footer,#Content{
	@extend .division;
	max-width:$totalSize;
	min-height:50px;
	margin:{
		left:auto;
		right:auto;
		top:0;
		bottom:0;
	}
}

Body{
	color:$mainColor;
	font-family: Verdana, Lucida, Arial, sans-serif;
	background:#DDD;
}
#Body{
	padding:{
		left:20px;
		right:20px;
		top:0;
		bottom:0;
	}
	background: none repeat scroll 0 0 #fff;///$mainBackground;
    color: #C6C6C6;
	//@include boxShadow(3px, 3px, 20px, 3px, darken(#2F2F2F,5));
}

#Footer{
	margin-top:20px;
	font-size:12px;
	.links{
		float:left;
		margin-right:10px;
	}
}

#Navigation{
	position:relative;
	z-index:400;
}

.content{
	margin-top:25px;
}

.gallery{
	margin:0 auto;
	ul{
		@extend .listreset;
		li{
			float:left;
			margin-bottom:10px;
			a{
				margin:0 auto;
				display:block;
				line-height:0;
				position:relative;
				&.loading{
					border:1px solid black;
					.load-anim{
						display:block;
					}
				}
				img{
					margin:0;
					padding:0;
					border:0;
					.large{
						width:500px;
					}
				}
				.load-anim{
					width:100%;
					height:100%;
					position:absolute;
					top:0;
					left:0;
					background:white;
					@include opacity(.5);
					display:none;
				}
			}
		}
	}
}

#Header{
	height:50px;
	#Navigation{
		height:inherit;
	}
	h1{
		float:left;
	}
}

#Navigation ul ul{
	@include boxShadow(1px, 14px, 15px, 5px, rgba(0,0,0,.2));
}

@import "includes/responsive";